<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisdom.passcode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- Push service 运行的可选权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 适配 Android N 系统必需的 ContentProvider 写权限声明，写权限包含应用包名 -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.wisdom.passcode" />

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.wisdom.passcode"
        android:protectionLevel="signature" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scanback.activity.AgreeAccessActivity"></activity>
        <activity android:name=".scanback.activity.ScanSuccessActivity" />
        <activity android:name=".mine.activity.ScanOrShowCodeRecordActivity" />
        <activity android:name=".homepage.activity.ShowCodeRecordActivity" /> <!-- push 应用定义消息 receiver 声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下六项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".push.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收 bind、 setTags 等 method 的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 可选，接受通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                <!-- 使用华为代理功能必须声明,用于接收华为的透传 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
        </receiver> <!-- Push 服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service> <!-- 4.4 版本新增的 CommandService 声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" /> <!-- 适配 Android N 系统必需的 ContentProvider 声明，写权限包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.wisdom.passcode.bdpush"
            android:exported="true"
            android:process=":bdservice_v1"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.wisdom.passcode" /> <!-- 可选声明, 提升 push 消息送达率 -->
        <service
            android:name="com.baidu.android.pushservice.job.PushJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":bdservice_v1" /> <!-- push 必须的组件声明 END -->
        <activity android:name=".mine.activity.AlterPhoneActivity" />
        <activity android:name=".mine.activity.MyProfileActivity" /> <!-- 扫完码，填完信息之后显示的结果页面 -->
        <activity android:name=".scanback.activity.CodeResultActivity" /> <!-- 扫完二维码后展示的页面（填报进入或离开） -->
        <activity android:name=".scanback.activity.ScanBackMainActivity" />
        <activity android:name=".apply.activity.CarCardApplyActivity" /> <!-- 选择出入证类型 -->
        <activity android:name=".apply.activity.CardTypeChooseActivity" /> <!-- 人员出入证申请 -->
        <activity android:name=".apply.activity.PersonCardApplyActivity" /> <!-- 上传公函 -->
        <activity android:name=".apply.activity.PlaceUploadPaperActivity" /> <!-- 场所码申请 -->
        <activity android:name=".apply.activity.PlaceCodeApplyActivity" /> <!-- 场所码类型选择 -->
        <activity android:name=".apply.activity.PlaceCodePlaceTypeChooseActivity" /> <!-- 扫脸识别页面 -->
        <activity android:name=".faceId.IdentifyingActivity" /> <!-- 欢迎页 -->
        <activity android:name=".homepage.activity.WelcomeActivity" /> <!-- 扫脸界面 -->
        <activity android:name=".faceId.faceAli.FaceDetectionActivity" />
        <activity android:name=".faceId.faceAli.VideoBaseActivity" /> <!-- 实名认证获得验证码页面 -->
        <activity android:name=".faceId.FaceIdVerifyCodeActivity" /> <!-- 实名认证输入姓名身份证号页面 -->
        <activity android:name=".faceId.FaceIdInputNameActivity" /> <!-- 输入验证码页面 -->
        <activity android:name=".mine.activity.VerificationCodeActivity" /> <!-- 收不到验证码的提示页面 -->
        <activity
            android:name=".mine.activity.RegisterCannotReceiveCodeActivity"
            android:theme="@style/translucent" /> <!-- 注册输入密码页面 -->
        <activity android:name=".mine.activity.RegisterPswInputActivity" /> <!-- 注册成功页面 -->
        <activity android:name=".mine.activity.RegisterSuccessActivity" /> <!-- 前导页面 -->
        <activity
            android:name=".homepage.activity.SplashActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 卡证详情 -->
        <activity
            android:name=".homepage.activity.CardDetailActivity"
            android:theme="@style/translucent" /> <!-- 我的卡证 -->
        <activity android:name=".homepage.activity.MyCardsActivity" /> <!-- 找回密码 -->
        <activity android:name=".mine.activity.ResetPswActivity" />
        <activity android:name=".mine.activity.MyIdentificationActivity" /> <!-- 申请记录 -->
        <activity android:name=".mine.activity.ApplyRecordListActivity" /> <!-- 扫码亮码记录 -->
        <activity android:name=".mine.activity.ScanShowCodeRecordActivity" /> <!-- 注册 -->
        <activity android:name=".mine.activity.RegisterActivity" /> <!-- 登录 -->
        <activity android:name=".mine.activity.LoginActivity" /> <!-- 车辆出入证申请搜索页 -->
        <activity android:name=".apply.activity.PlaceNameSearchActivity" /> <!-- 车辆出入证成功页 -->
        <activity android:name=".apply.activity.CardApplySuccessActivity" /> <!-- 亮码页面 -->
        <activity
            android:name=".homepage.activity.ShowCodeActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.wisdom.showcode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.activity.MainActivity"
            android:theme="@style/AppTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.myprovider.contentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_xml" />
        </provider>
    </application>

</manifest>